body {
    margin: 0;
    text-align: center;
    background-color: rgb(197, 92, 148);
}

header {
    text-align: center;
    color: white;
    background-color: navy;
    padding-top: 1em;
    padding-bottom: 1em;
}

#play-button {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 10%;
    height: 2em;
}

.profile-pic {
    float: left;
}

#pictures-here {
    height: auto;
    overflow: auto;
}

footer {
    color: white;
    text-align: center;
    background-color: navy;
    padding-top: 1em;
    padding-bottom: 1em;
}